.twitter{
  background-image: url('../images/back.png');
  position: relative;
}


#backs{


 
  
  filter: brightness(2);
  

}

.imgoverlay2{
  
  width: 40%;
  height: 100%;
  position: absolute;
  background-image: url('../images/tritter.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}